<section>
    <h5><a >TAGS</a></h5>
    <%
        var tags = [];
        items.forEach(function(tag){
            tags.push('<a class="custom-tags" href="' + config.root + tag.path + '" title="' + tag.name + '">'+tag.name+'</a>');
        });
    %>


    <div class="tags">
        <%- tags.join(' ') %>
    </div>
</section>